
// Colors

$primary: rebeccapurple;
$black: rgb(43, 43, 43);
$shadow: rgba(43, 43, 43, 0.164);
$button-color: rgb(112, 178, 231);
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$bar-color: #272727;